nav.navbar {
	height: 5rem;
	width: 100%;

	ul {
		height: 100%;
		width: 100%;
		list-style: none;
		margin: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 0;
		padding-right: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a,
		a:visited,
		a:hover,
		a:active {
			text-decoration: none;
			color: var(--primary-text-color);
		}
	}

	.return {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		padding-right: 1ch;

		width: fit-content;

		display: flex;
		gap: 0.25rem;
		align-items: center;

		text-transform: uppercase;
		text-decoration: none;
		color: var(--primary-text-color);
		font-weight: 300;
		font-size: 0.75rem;

		&:hover {
			text-decoration: underline;

			transition: text-decoration 0.2s ease-in-out;
		}
	}
}
