.cart__view__wrapper_fw {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.cart__view__title {
	font-weight: 300;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.cart__view__cta__container {
	height: 10rem;
}

.cart__view__cta_float {
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 0;
	gap: 2rem;
	z-index: 999;
	background: var(--background-color);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding-left: inherit;
	padding-right: inherit;
	padding-bottom: 3.5rem;
	padding-top: 1.5rem;
}

.cart__view__cta_pay_horizontal {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.cart__view__continue_fw {
	width: 100%;
}

.cart__view_continue__button {
	color: var(--primary-text-color);
	background-color: var(--background-color);
	border: 1px solid var(--primary-text-color);
	display: block;
	text-decoration: none;
	width: fit-content;

	padding: 1rem;

	padding-right: 5rem;
	padding-left: 5rem;

	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline-offset: 5px;
	}
}

@media (min-width: 768px) {
	.cart__view__continue_fw {
		width: 30%;
	}

	.cart__view__cta_pay_horizontal {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5rem;
		width: unset;
	}
}
