.button {
	width: fit-content;

	padding: 1rem;
	background-color: var(--primary-text-color);
	color: var(--background-color);

	padding-right: 5rem;
	padding-left: 5rem;

	&.uppercase {
		text-transform: uppercase;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		color: unset;
		background-color: unset;
	}

	&:hover {
		transform: scale(1.08) translateY(-1px);
	}

	&:active {
		transform: scale(1.02) translateY(0px);
		transition-duration: 0.1s;
	}

	&:focus {
		outline-offset: 5px;
	}
}

.fw {
	width: 100%;
}

.inverted {
	background-color: var(--background-color);
	color: var(--primary-text-color);
}

.ghostButton {
	width: 100%;
	padding: 1rem;
	background-color: transparent;
	border: transparent;

	&.uppercase {
		text-transform: uppercase;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		color: unset;
		background-color: unset;
	}

	&:focus {
		outline-offset: 5px;
	}
}
